/* p {
    width: 240px;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
}

img {
    width: 200px;
    border: 5px solid rgb(236, 183, 191);
    border-radius: 50%;

}

h1 {
    width: 240px;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
} */
.card {
    width: 210px;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}

img {
    width: 200px;
    border: 5px solid rgb(236, 183, 191);
    border-radius: 50%;
}

p {
    text-align: center;
    border: 0.5rem outset pink;
    outline: 0.5rem solid khaki;
    box-shadow: 0 0 0 2rem skyblue;
    border-radius: 12px;
    font: bold 1rem sans-serif;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;

}